body {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    background: url(background.jpg);
} 

.in-work {
    font-size: 25px;
    transform: rotate(-45deg);
    color: grey;
    font-family: 'Comfortaa';
    padding-top: 30px;
}

#header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Comfortaa';
    font-size: 20px;
    color: white;
    background: linear-gradient(0deg, #5454ef, #5d88ff);
    border-radius: 15px;
    border: 1px solid #5d88ff;
}

button:hover {
    border: 1px solid #c6c6ff;
}

button:active {
    background: linear-gradient(0deg, #5d88ff, #5454ef);
}

button:focus {
    outline: none;
}

input {
    height: 30px;
    width: 400px;
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 25px;
    border-color: #03a9f4;
    border-radius: 5px;
    background: #f6f7ff;
}

#header #help {
    border-radius: 50%;
} 

.popup-window {
    display: flex;
    flex-direction: column;
    background: white;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    border: 2px solid #ceced8;
    box-shadow: 0px 0px 10px 0px #5454ef;
    align-items: center;
    z-index: 10;
}

#readyPopup .popup-window {
    width: 500px;
    height: 500px;
}

.popup-back {
    background: #0000004a;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
}

button.popup-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    color: black;
    border: 2px solid #ceced8;
    border-top-width: 0;
    border-right-width: 0;
    border-radius: 0 20px 0px 20px;
    font-size: 25px;
}

button.popup-close:hover {
    background: #efefef;
}

button.popup-close:active {
    background: #ff8a8a;
}

.popup-window-animated {
    animation: popupAnimation 0.4s 1 ease-out;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
}

.popup-back-animated {
    animation: popupBack 0.3s 1 ease-out;
}

@keyframes popupAnimation {
    from {
        top: -30px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes popupBack {
    from {opacity: 0}
    to {opacity: 1}
}

#flake {
    width: 500px;
    height: 500px;
}

#tools {
    width: 500px;
    height: 500px;
}

#canvasContainer {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

#toolsBox {
    display: flex;
    align-items: center;
    /*width: 600px;*/
    height: 100vh;
}

#toolsBar {
    min-width: 360px;
    width: 360px;
    height: 100%;

    border-left: 5px dashed #7373ff;
}

#toolsBar h1, h2 {
    text-align: center;
    font-family: 'Comfortaa';
    /*margin-top: 0;*/
}

#toolsBar .tools-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#toolsBar .tool {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
}

#layersBar {
    width: 100px;
    min-width: 100px;
}

#layersBar .layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    margin-left: 10px;
    border: 3px dashed #5454ef;
    border-right-width: 0;
    border-bottom-width: 0px;
    border-radius: 15px 0px 0px 15px;

    background: white;  
}

#layersBar .layer:focus {
    background: red;
}

#layersBar .layer-active {
    margin-left: 0;
    background: #5454ef;
}

#layersBar .layer-active ~ .layer {
    border-bottom-width: 3px;
    border-top-width: 0;
}

#layersBar .layer:not(.layer-active):hover {
    background: #e6e6ff;
}
#layersBar .layer-del {
    fill: grey;
}

#layersBar .layer-active .layer-del {
    fill: white;
}

#layersBar .layer-del:hover {
    fill: black;
}

#layersBar .layers-head{
    margin-left: 10px;
    padding-bottom: 3px;
    font-size: 25px;
    text-align: center;
    font-family: 'Comfortaa';
}

#layersBar .layers-footer {
    justify-content: center;
    font-size: 40px;
    text-align: center;
    font-family: 'Comfortaa';
}

#layersBar .layers-footer.lonely {
    border-bottom-width: 3px;
}

#layersBar .layers-footer span {
    padding-top: 3px;
}

#layersBar .layer-id {
    /*flex-grow: 1;   */
    /*text-align: center;*/
    padding: 10px;
    font-size: 25px;
    font-family: 'Comfortaa';
}

#layersBar .layer-active .layer-id {
    color: white;
}
