<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/snowflake_editor.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

    <title>Редактор снежинок</title>
</head>
<body>
    <svg width="0" height="0">
        <defs>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" enable-background="new 0 0 50 50" id="trashIcon"><path d="M20 18h2v16h-2z"/><path d="M24 18h2v16h-2z"/><path d="M28 18h2v16h-2z"/><path d="M12 12h26v2H12z"/><path d="M30 12h-2v-1c0-.6-.4-1-1-1h-4c-.6 0-1 .4-1 1v1h-2v-1c0-1.7 1.3-3 3-3h4c1.7 0 3 1.3 3 3v1z"/><path d="M31 40H19c-1.6 0-3-1.3-3.2-2.9l-1.8-24 2-.2 1.8 24c0 .6.6 1.1 1.2 1.1h12c.6 0 1.1-.5 1.2-1.1l1.8-24 2 .2-1.8 24C34 38.7 32.6 40 31 40z"/>
            </svg>
        </defs>
    </svg>
    <div id="header">
        <button id="ready">Готово!</button>
        <button id="help">?</button>
    </div>
    <div id="readyPopup" style="display: none">
        <div class="popup-back" id="readyPopupBack"></div>
        <div class="popup-window" id="readyPopupWindow">
            <h2>Подпишите вашу снежинку</h2>
            <hr noshade color="#ceced8" size="1">
            <svg width="300" height="300" viewbox="0 0 500 500">
                <g filter="url(#blur)">
                    <rect x="0" y="0" width="500" height="500" fill="grey" 
                        mask="url(#flakeMask)" transform="translate(5, 5)"/>
                </g>
                <rect x="0" y="0" width="500" height="500" fill="#7373ff" mask="url(#flakeMask)"/>
            </svg><br>
            <input id="inputSignature">
            <button id="submitButton">Отправить</button>
            <button id="readyPopupClose" class="popup-close" onclick="hideReadyPopup();">x</button>
        </div>
    </div>
    <div id="successPopup" style="display: none">
        <div class="popup-back" id="successPopupBack"></div>
        <div class="popup-window" id="successPopupWindow">
            <h2>Класс!</h2>
            <h2>Ищи свою снежинку в <a href="/">снегопаде</a>.</h2><br>
            <button onclick="hideSuccessPopup();"> Хорошо!</button>
            <button id="successPopupClose" class="popup-close" onclick="hideSuccessPopup();">x</button>
        </div>
    </div>
    <div id="errorPopup" style="display: none">
        <div class="popup-back" id="errorPopupBack"></div>
        <div class="popup-window" id="errorPopupWindow">
            <h2>Ой!</h2>
            <h2>Кажется твоя снежинка потерялась(</h2><br>
            <button onclick="hideErrorPopup();"> Хорошо!</button>
            <button id="errorPopupClose" class="popup-close" onclick="hideErrorPopup();">x</button>
        </div>
    </div>
    <div id="canvasContainer">
        <svg id="flake">
            <clipPath id="masksContainer"></clipPath>
            <symbol id="flakeraw">
                <!-- <path d="M 134 450 L 367 48 L 367 450 Z"/> -->
                <path d="M 34.06 450 L 265 50 L 265 450 Z"/>
            </symbol>   
            <symbol id="flakeangle">
                <use href="#flakeraw" fill="white" stroke-width="2" stroke="white"/>
                <use clip-path="url(#masksContainer)" href="#flakeraw" fill="black" stroke-width="6" stroke="black"/>
            </symbol>
            <symbol id="flakeshape" viewbox="-230 -350 1000 850">
                <rect x="0" y="0" width="2000" height="2000" fill="black"/>
                <g id="left">
                    <use href="#flakeangle" transform="rotate(0, 265 50)"/>
                    <use href="#flakeangle" transform="rotate(60, 265 50)"/>
                    <use href="#flakeangle" transform="rotate(120, 265 50)"/>
                    <use href="#flakeangle" transform="rotate(180, 265 50)"/>
                    <use href="#flakeangle" transform="rotate(240, 265 50)"/>
                    <use href="#flakeangle" transform="rotate(300, 265 50)"/>
                </g>
                <use href="#left" transform="scale(-1, 1)" x="-530">
            </symbol>
            <mask id="flakeMask">
                <use href="#flakeshape"/>
            </mask>
            <mask id="flakeangleMask">
                <rect x="0" y="0" width="500" height="500" fill="black"/>
                <use href="#flakeangle"/>
            </mask>
            <filter id="blur">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
            </filter>
            <g filter="url(#blur)">
                <rect x="0" y="0" width="10000" height="500" fill="grey" 
                    mask="url(#flakeMask)" transform="translate(5, 5)"/>
            </g>
            <rect x="0" y="0" width="10000" height="500" fill="#7373ff" mask="url(#flakeMask)"/>
        </svg>
        <svg id="tools">
            <g filter="url(#blur)">
                <rect x="0" y="0" width="300" height="500" fill="grey" 
                    mask="url(#flakeangleMask)" transform="translate(5, 5)"/>
            </g>
            <rect x="0" y="0" width="300" height="500" fill="#7373ff" mask="url(#flakeangleMask)"/>
        </svg>
    </div>
    <div id="toolsBox">
        <div id="layersBar">
            <div class="layers-head">
                <!-- <span>Layers</span> -->
            </div>
            <div class="layers-footer layer lonely" id="layersFooter">
                <span>+</span>
            </div>
        </div>
        <div id="toolsBar">
            <h1>Инструменты</h1>
            <div class="tools-group">
                <div class="tool">
                    <p class="in-work">В работе</p>
                </div>     
                <div class="tool">
                    <p class="in-work">В работе</p>
                </div>
                <div class="tool">
                    <p class="in-work">В работе</p>
                </div>
                <div class="tool">
                    <p class="in-work">В работе</p>
                </div>
            </div>
            <h1>Трафареты</h1>
            <div class="tools-group">
                <div class="tool">
                    <p class="in-work">В работе</p>
                </div>     
                <div class="tool">
                    <p class="in-work">В работе</p>
                </div>
                <div class="tool">
                    <p class="in-work">В работе</p>
                </div>
                <div class="tool">
                    <p class="in-work">В работе</p>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/tools.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/editor.js') }}"></script>

</body>
</html>